[submodule "submodules/include/vk-utils"]
	path = submodules/include/vk-utils
	url = https://github.com/helixd2s/vk-utils
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "submodules/include/tinygltf"]
	path = submodules/include/tinygltf
	url = https://github.com/syoyo/tinygltf.git
